.board{
  position: relative;
}

.board .row{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.board .tile{
  height: 5ch;
  width: 5ch;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.board .mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.1)
}